body {
    margin: 2em 10em;
    background-color: #5C374C;
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: #985277;
    padding: 12px;
}

.headerText {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 5px;
    text-shadow: 2px 2px 2px white;
}

a {
    color: orange;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

.indexHeader {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: #E77B73;
    padding: 0em 1.5em;
}

.page-footer {
    background-color: orange;
}

#newSongBut{
    background-color: #FF8C61;
    color: black;
    margin: auto 0;
}

#newSongBut:hover {
    background-color: white;
    color: black;
}

#homeBut {
    margin-top: 10px;
}

#footer {
    padding: 10px;
    background-color: #CE6A85;
}

#header {
    background-color: #CE6A85;
}

#foot {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

button {
    margin: 2px auto;
}

.showActions {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.waves-effect {
    background-color: #CE6A85;
    color: black;
}
.collection-item {
    background-color: #FAA275 !important;
    border: none !important;
}

.collection-item:hover {
    background-color: #ffbd9d !important;
    color: white !important;
    text-shadow: 2px 2px 2px rgba(110, 110, 110, 0.315);;
}

.collection {
    border: none !important;
}

.textList {
    color: black;
}

.showActions {
    margin: 15px auto;
}

@keyframes scale {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#update {
    margin: 2px !important;
}

button:hover {
    transform: scale(.9) !important;
    background-color: white !important;
}

#reset {
    background-color: #FAA275;
    margin-top: 10px;
}

.showImg {
    width: 70%;
    box-shadow: 0px 0px 10px 5px rgb(255, 160, 160) ;
}

iframe {
    box-shadow: 0px 0px 10px 5px rgb(255, 160, 160) ;
}

@media screen and (max-width: 600px) {
    iframe {
        width: 250px;
    }
}

.btn {
    cursor: pointer;
}



.songContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: scale .3s 1 ease-out;
    animation-direction: normal;
}

.desc {
    margin: 25px auto;
}

.showHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

fieldset {
    background-color: #CE6A85;
}

legend {
    color: white;
}

#main {
    width: 100px;
}



#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    z-index: 10;
    background-color: #985277;
    width: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.459);
    animation: fade-in 1s ease;
}

#overlay {
    position: fixed;
    /* display: none; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.507);
    pointer-events: none;
    z-index: 9;
    animation: fade-in 1s ease;
}

#modalAll {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

#confirmation {
    display: inline-flex;
    justify-content: space-around;
    margin: 10px 10em;
}

#confirm {
    background-color: #FAA275;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0 auto;
  }
  .headerText {
      font-size: 2em;
  }
  #header {
      padding: 0.5em;
  }
  main {
      padding: 5px;
  }
  h2 {
      font-size: 1em;
      margin: 1em;
  }
  h3 {
      font-size: 1em;
      margin: 5px;
  }
  .desc {
      margin: 7px;
  }
  .showImg {
    width: 100px;
  }
  .collection-item {
      padding: 1px !important;
  }
  .indexHeader {
      padding: 0em !important;
  }
  #newSong {
     margin: 0em !important; 
    padding: 1px;
  }
  #main {
    width: 20px;
  }
}