body {
    margin: 2em 10em;
    background-color: #5C374C;
    font-family: 'Raleway', sans-serif;
}



main {
    background-color: #985277;
    padding: 12px;
}

.headerText {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 5px;
    text-shadow: 2px 2px 2px white;
}

a {
    color: orange;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

.indexHeader {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: #E77B73;
    padding: 0em 1.5em;
}

.page-footer {
    background-color: orange;
}

#newSongBut{
    background-color: #FF8C61;
    color: black;
    margin: auto 0;
}

#newSongBut:hover {
    background-color: white;
    color: black;
}

#footer {
    padding: 10px;
    background-color: #CE6A85;
}

#header {
    background-color: #CE6A85;
}

#foot {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

button {
    margin: 2px auto;
}

.showActions {
    display: inline-flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.waves-effect {
    background-color: #CE6A85;
    color: black;
}
.collection-item {
    background-color: #FAA275 !important;
    border: none !important;
}

.collection-item:hover {
    background-color: #ffbd9d !important;
    color: white !important;
    text-shadow: 2px 2px 2px rgba(110, 110, 110, 0.315);;
}

.collection {
    border: none !important;
}

.textList {
    color: black;
}

.showActions {
    margin: 15px auto;
}

@keyframes scale {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#update {
    margin: 2px !important;
}

button:hover {
    transform: scale(.9) !important;
    background-color: white !important;
}

.showImg {
    width: 70%;
    box-shadow: 0px 0px 10px 5px rgb(255, 160, 160) ;
}

iframe {
    box-shadow: 0px 0px 10px 5px rgb(255, 160, 160) ;
}

@media screen and (max-width: 600px) {
    iframe {
        width: 250px;
    }
}

.songContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: scale .3s 1 ease-out;
    animation-direction: normal;
}

.desc {
    margin: 25px auto;
}

.showHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

fieldset {
    background-color: #CE6A85;
}

legend {
    color: white;
}

