{% layout "layout.liquid" %} {% block content %}

<div class="indexHeader">
  <h2>My Song Playlist</h2>
  <a href="/playlist/new" id="newSongBut" class="waves-effect waves-light btn">Create a New Song</a>
</div>

<div class="indexSongs collection">
  <article>
    {% for song in songs %}
    <a class="collection-item" href="/playlist/{{ song._id }}">
      <h2 class="textList">
        {{song.name}}
      </h2>
    </a>
  </article>
  {% endfor %}
</div>



{% endblock %}