{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/playlist" method="post"> 
    <fieldset>
      <legend>New Song</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter song name"
        />
      </label>
      <label>
        URL:<input
          type="text"
          name="URL"
          placeholder="enter URL"
        />
      </label>
      <label>
        ARTIST:<input
          type="text"
          name="artist"
          placeholder="enter artist name"
        />
      </label>
      <label>
        DESC:<input
          type="text"
          name="desc"
          placeholder="enter description of song"
        />
      </label>
      <label>
        IMAGE:<input
          type="text"
          name="img"
          placeholder="enter image URL for song"
        />
      </label>
    </fieldset>
    <input id="newSongBut" class="collection-item" type="submit" value="Create New Song" />
  </form>
</div>
{% endblock %}

<!-- {{song._id}}?_method=PUT -->